.speech{
    font-family: "times new roman";
    font-size: 12px;
    color: black;
}
.stage-direction{
    font-family: "Calibri";
    font-size: 20px;
    color: violet;
    background-color: lightblue;
}
.name{
    font-family: "Biome";
    font-size: 18px;
    color:lightpink;
    background-color: lightgray;
}
.stage-direction:hover{
    color: blue;
    background-color: brown;
}
.LORDDARLINGTON{
    color: coral;
}
.LADYWINDERMERE{
    color: darkblue;
}
h6{
    margin:10px 0;
}