h6{
    color: black;
    font-family: 'Times New Roman', Times, serif;
}
p{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
.stage:hover{
    color: chocolate;
    background-color: cyan;
}